/* css reset */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg--color: #4a494a;
}

/* globals */

html,
body,
#app,
.main {
  height: 100%;
}

body {
  background-color: var(--bg--color);
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* layout */

.main {
  display: grid;
  place-items: center;
}

ul {
  display: flex;
  gap: 1em;
  padding: 0.2em;
  overflow: hidden;
}

.text-container {
  position: relative;
}

/* for the effect to work*/

.top-text {
  display: block;
}

.bottom-text {
  position: absolute;
}

/* animations */

.top-text {
  transform: translateY(0%);
  opacity: 0.7;
  transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out;
}

.bottom-text {
  transform: translateY(0%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out;
}

a:hover .top-text {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out;
}

a:hover .bottom-text {
  transform: translateY(-100%);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out;
}
